.login-body {
    margin: auto;
    margin-top: 30px;
    max-width: 380px;
    padding: 30px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #d5d5d5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-heading {
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 30px;
    text-align: center;
}

.login-footing {
    font-size: 0.9em;
    line-height: 80%;
}

input[type=text],
input[type=password],
button {
    border-radius: 0;
}

input[type=text]:hover,
input[type=password]:hover {
    border-color: #8ce2ff;
}