<div class="login">
    <div class="login-body">
        <div class="logo">
            <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
            <span>My Planner</span>
        </div>
        <h3 class="login-heading">Sign in</h3>
        <div class="login-form">
            <form data-toggle="validator" autocomplete="on">
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <input id="username" class="form-control" type="text" name="username" spellcheck="false" data-msg-required="Please enter your username." required>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input id="password" class="form-control" type="password" name="password" minlength="6" data-msg-minlength="Password must be 6 characters or more." data-msg-required="Please enter your password." required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                </div>
                <div class="form-group">
                    <span class="custom-control-label"><a href="/signup">New here? Sign up now!</a></span>
                </div>
            </form>
        </div>
        <div class="login-footing">
            <hr>
            <p>Project 1 of the Senior Web Developer Nanodegree</p>
            <p>Developed by <strong>Wanderson Diego</strong> / Nov.2016</p>
        </div>
    </div>
</div>