<div class="dashboard-header">
    <div class="dashboard-logo" style="margin-bottom: 20px">
        <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
        <span>My Planner</span>
    </div>
</div>
<div class="menu">
    <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-tachometer"></i> Dashboard</a></li>
        <li><a routerLink="/events/new" routerLinkActive="active"><i class="fa fa-plus"></i> New Event</a></li>
        <li><a routerLink="/events" routerLinkActive="active"><i class="fa fa-list-alt"></i> Event List</a></li>
    </ul>
</div>
<div class="clearfix"></div>